<div class="content">
  <nav>
    <div class="flex-row directory">
      <a href="/"><img src="/logo.png" class="nav-logo"></a>
      <a class="text-link" href="/about">about</a>
      <a class="text-link" href="/members">members</a>
      <a class="text-link" href="/events">events</a>
      <a class="text-link" href="/join">join</a>
    </div>
    <div class="flex-row external">
      <a href="https://discord.gg/mfWqAFg" class="flex-row">
        {{ partial "svg" "discord" }}
      </a>
      <a href="https://www.youtube.com/channel/UC_OgDGdaqTI6D_UPtMwCwIg" class="flex-row">
        {{ partial "svg" "youtube" }}
      </a>
      <a href="https://www.twitch.tv/osuuwaterloo" class="flex-row">
        {{ partial "svg" "twitch" }}
      </a>
      <a href="mailto:osu@clubs.wusa.ca" class="flex-row">
        {{ partial "svg" "email" }}
      </a>
    </div>
  </nav>
</div>
